/* PC  */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .s-col-full {
    width: 100%;
  }
  .s-buy-ticket {
    width: 100%;
    text-align: center;
  }
  .s-mt-8 {
    margin-top: 8px;
  }
  .s-mt-16 {
    margin-top: 16px;
  }
  #nav {
    display: block;
  }
  #nav li a {
    padding: 1px 24px;
  }
  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }
  #header {
    overflow: hidden;
  }

  #header .mobile-menu-btn {
    display: block;
  }
  #header .search-btn {
    display: none;
  }
  #content .member-item {
    float: initial;
    margin-top: 30px;
    width: 100%;
  }

  #content .member-img {
    width: 60%;
  }
  .place-list {
    margin-top: 16px;
  }
  .place-item {
    width: 100%;
  }
}
